<header class="navbar navbar-default navbar-static-top hidden-xs" role="banner">
  <div class="container">
    <div class="navbar-header"><a class="navbar-brand" href="{{ site.baseurl }}/" title="Performance">Performance</a></div>
    <ul class="nav navbar-nav">
      <li{% if page.url == '/' %} class="active"{% endif %}><a href="{{ site.baseurl }}/">Metrics</a></li>
      <li{% if page.url == '/php-profiling/' %} class="active"{% endif %}><a href="{{ site.baseurl }}/php-profiling/">Flame Graphs</a></li>
      <li{% if page.url == '/asreport/' %} class="active"{% endif %}><a href="{{ site.baseurl }}/asreport/">Autonomous Systems</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
      <li><a href="/xhgui/">XHGui</a></li>
      <li><a href="https://grafana.wikimedia.org/dashboard/db/performance-metrics">Grafana</a></li>
    </ul>
  </div>
</header>
