[submodule "vendor-excimer"]
	path = vendor-excimer
	url = https://gerrit.wikimedia.org/r/performance/excimer-ui-server
[submodule "xhgui"]
	path = xhgui
	url = https://gerrit.wikimedia.org/r/operations/software/xhgui
