---

---

<!DOCTYPE html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link href=lib/bootstrap-3.3.5/css/bootstrap.uncss.css rel=stylesheet>
    <link href=lib/metrics-graphics-2.11.0/metricsgraphics.css rel=stylesheet>
    <link href=lib/overrides.css rel=stylesheet>
    <link rel="shortcut icon" href="https://www.wikimedia.org/static/favicon/wmf.ico">
    <script src=lib/d3-4.7.4/d3.min.js defer></script>
    <script src=lib/metrics-graphics-2.11.0/metricsgraphics.min.js defer></script>
    <script src=coal.js defer></script>
  </head>
  <body>
    {% include header.html %}
      {{ content }}
    {% include footer.html %}
